/* hyperlinks */
a {
	color: #005f84;
	text-decoration: none;
}
a:hover, a:focus {
	color: #005f84;
	text-decoration: underline;
}

.nav-tabs>li>a {
	color: #606060;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	color: #005f84;
	text-decoration: none;
}

/* buttons */
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #206b82;
  background-image: -moz-linear-gradient(top,#00adf7,#005f84);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#00adf7),to(#005f84));
  background-image: -webkit-linear-gradient(top,#00adf7,#005f84);
  background-image: -o-linear-gradient(top,#00adf7,#005f84);
  background-image: linear-gradient(to bottom,#00adf7,#005f84);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00adf7',endColorstr='#ff009fe3',GradientType=0);
  border-color: #005f84 #005f84 #03202a;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color: #6dacd2;
  background-color: #005f84;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #005f84;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  text-decoration: none;
  color: #6dacd2;
  background-color: #17708b;

  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00adf7',endColorstr='#ff14657e',GradientType=0);
}

a.tag:hover {
  text-decoration: none;
  color: #fff;
  background-color: #005f84;
  border: 1px solid #235767;
  -webkit-box-shadow: inset 0 1px 0 #3d97b3;
  -moz-box-shadow: inset 0 1px 0 #3d97b3;
  box-shadow: inset 0 1px 0 #3d97b3;
}

.stages li.active .highlight {
  color: #6dacd2;
  background: #005f84;
}

/* toolbar */
.toolbar {
	position: relative;
	margin-bottom: 0px;
	padding: 5px 0 0 0;
}

.homepage .stats h3 {
	margin: 10px 0 10px 0;
}

/* main screen */

[role=main] {
  min-height: 100px;
}

.pill {
  display: inline-block;
  background-color: #005f84;
  color: #6dacd2;
  padding: 2px 10px 1px 10px;
  margin-right: 5px;
  font-weight: normal;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.nav-item.active>a, .nav-aside li.active a {
  position: relative;
  color: #6dacd2;
  background-color: #005f84;
}

.box {
  background-color: #FFF;
  border: 1px solid #cccccc;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.05);

/* civity */
border-radius: 0;
}
/* civity */
}

.banner {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  position: absolute;
  top: 15px;
  right: -35px;
  width: 80px;
  color: #6dacd2;
  background-color: #005f84;
  padding: 1px 20px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.media-view:hover,
.media-view.hovered {
  border-color: #005f84;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}
.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #005f84;
}

.wrapper {
  *zoom: 1;
  background-color: #FFF;
  border: 1px solid #cccccc;
/* civity */
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.05);
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 0;
}

/* search box */
.homepage .module-search {
	padding: 0px;
	border: none;
	margin: 20px 0 0 0;
	color: #6dacd2;
	background: #6dacd2;
}

.homepage .module-search .module-content {
	-webkit-border-radius: 0px 0px 0 0;
	-moz-border-radius: 0px 0px 0 0;
	border-radius: 0px 0px 0 0;
	background-color: #005f84;
	border-bottom: none;
}

.homepage .module-search .tags {
	padding: 5px 10px 10px 10px;
	background-color: #003647;
	-webkit-border-radius: 0 0 0px 0px;
	-moz-border-radius: 0 0 0px 0px;
	border-radius: 0 0 0px 0px;
}

.account-masthead .account ul li {
	display: block;
	float: left;
	border-left: 1px solid #00232e;
	border-left: 5px solid #fff;
}
.account-masthead .account ul li a, .account-masthead .account ul li a:visited {
	display: block;
	color: #bfd7de;
	color: #969696;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 0 20px;
	line-height: 31px;
}
.account-masthead .account ul li a:hover {
  color: #005f84;  /* civity */
  background-color: #fff;
  text-decoration: none;
}

.account-masthead .gravatar {
  display: none;
}

.account-masthead .account .notifications a span {
  font-size: 12px;
  margin-left: 3px;
  padding: 1px 6px;
  background-color: #00232e;
  background-color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
 }

 .account-masthead .account .notifications a:hover span {
  color: #6dacd2;
  color: #005f84;  /* civity */
  background-color: #fff;
}

.masthead {
  *zoom: 1;
  min-height: 55px;
  color: #6dacd2;
  background: #005f84 url("../../../base/images/logo_scorewater.png");
}

.masthead input[type="text"] {
  border-color: #004a61;
  border-color: #ccc; /* civity */
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
	background-color: #003647;
	/* civity */ background-color: #fff;
	box-shadow: none;
	color: #fff;
	background: #005f84 !important;
}

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
	/* civity */
	color: #606060;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: none;
	border-radius: 0;
	padding: 0 4px ;
	margin: 10px 0 0 30px;
	line-height: 20px;
	/* civity */
}

.masthead .navigation {
  margin-right: 0px;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 0px 0 0;
}

/* footer */
.site-footer a {
  color: #6dacd2;
}

.site-footer a:hover, .site-footer a:focus {
  color: #005f84;
  text-decoration: none;
}

.site-footer, .site-footer label, .site-footer small {
  color: #6dacd2;
}

.masthead a {
    color: #005f84;
}

.site-footer {
	*zoom: 1;
	min-height: 55px;
	color: #6dacd2;
	/* civity */
	background: #dee2e6;
	padding: 0;
	/* civity */
}

.site-footer .container {
	position: relative;
	background: #005f84;
	background: #dee2e6;
	padding: 0;
}

.site-footer .container .row {
	padding: 20px 10px 20px 10px;
	margin-left: 0px;
}

.site-footer .footerlogo {
	margin: 4px 10px 0 0;
	padding: 0 0 0 0;
}

body {
  background: #005f84;
}

/* CIVITY CSS */


input.hasDatepicker + img{
    height:2em;
}

.attribution {
    position: absolute;
    right: 0;
    top: 20px;
}

.masthead {
  *zoom: 1;
  min-height: 55px;
  color: #6dacd2;
  background: #810606 url("../../../base/images/logo_scorewater.png");
  background: #fff;
  color: #000;
}

body, .account-masthead {
  background: #fff;
  color: #000;
}

.main, [role=main] {
	background: #F0F8FF;
}


.toolbar .breadcrumb>li {
	text-shadow : none;
    font-size: 120%;
}
.toolbar .breadcrumb a {
	color: #6dacd2;
    font-size: 120%;
}


#box1 {
	float: left;
	height: 0px;
	clear: both;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	background-attachment: scroll;
	-webkit-background-size: auto;
	background-size: auto;
	background-position: 0% 0%;
	background-repeat: repeat repeat;


height: 180px;
}

#contacthead {
	position: relative;
	float: left;
	height: 0px;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	width: 100%;
	background-attachment: scroll;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0% 0px;
	background-repeat: inherit inherit;
	background-image:url("https://ckan.dataplatform.nl/base/images/contact-header.jpg");
height: 180px;
}

#contacthead-titel {
	position: absolute;
	bottom: 20px;
	padding: 0 13px 0 13px;
	text-align: left;
	width: 550px;
}

#contacthead-titel  .contacthead-titel-kop {
	display: block;
	color: #FFF;
	XXfont-family: "Montserrat";
	font-weight: 700;
}

@media (max-width: 455px) {
	#contacthead, .page-template-civitycontact #box1 {
		height: 82px;
	}
	#contacthead-titel {
		width: 300px;
		bottom: 0px;
	}
	#contacthead-titel  .contacthead-titel-kop {
		font-size: 20px;
		line-height: 24px;
	}
	.toolbar .breadcrumb {
		font-size: 12px;
	}
}
@media (min-width: 456px) and (max-width: 767px) {
	#contacthead, .page-template-civitycontact #box1 {
		height: 139px;
	}
	#contacthead-titel {
		width: 400px;
	}
	#contacthead-titel  .contacthead-titel-kop {
		font-size: 24px;
		line-height: 28px;
	}
	.toolbar .breadcrumb {
		font-size: 13px;
	}
}
@media (min-width: 768px) and (max-width: 995px) {
	#contacthead, .page-template-civitycontact #box1 {
		height: 180px;
	}
	#contacthead-titel {
		width: 550px;
		width: 650px;
	}
	#contacthead-titel  .contacthead-titel-kop {
		font-size: 38px;
		line-height: 46px;
	}
	.toolbar .breadcrumb {
		font-size: 15px;
	}

	.main, [role=main] {
		padding-top: 0px;
	}
}
@media (min-width: 996px) {
	#contacthead, .page-template-civitycontact #box1 {
		height: 180px;
	}
	#contacthead-titel {
		width: 550px;
		width: 800px;
	}
	#contacthead-titel  .contacthead-titel-kop {
		font-size: 44px;
		line-height: 52px;
	}
	.toolbar .breadcrumb {
		font-size: 17px;
	}
	.main, [role=main] {
		padding-top: 0px;
	}
}


.blauw {
  color: #005f84;
}

.pagination {
  margin: 20px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}
.pagination-wrapper {
    text-align: center;
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
}

.module-content .pagination {
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -20px;
}
.module .pagination > ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.module .pagination li a {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 7px;
  padding-bottom: 7px;
}
.module .pagination li:first-child a,
.module .pagination li:last-child a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

fieldset.checkboxes label {
    font-weight: normal;
    display: block;
    float: left;
    width: 50%;
}
#field-username {
  width: 290px;
}